<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary">
	<div class="wrapper">
		
	{{template "main-header" .}} 
	{{template "side-bar" .}}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
			{{template "content-header" .}}
		</div>   

		<!-- Main content -->
		<section class="content">
		  <div class="row fx-element-overlay">
				{{range $i, $a := .product}}
					<div class="col-12 col-lg-6 col-xl-4">
						<div class="box box-default">
						<div class="fx-card-item">
							<div class="fx-card-avatar fx-overlay-1"> <img src="{{index $a "product_avatar"}}" alt="product">
								<div class="fx-overlay scrl-up">						
									<ul class="fx-info">
										<li><a class="btn btn-outline" href="{{index $a "product_path"}}"><i class="mdi mdi-magnify"></i></a></li>
										<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-delete"></i></a></li>
										<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-settings"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="fx-card-content text-left mb-0">							
								<div class="product-text">
									<h4 class="box-title mb-0">{{index $a "product_name"}}</h4>
									<small class="text-muted db">{{index $a "product_description"}}</small>
								</div>
							</div>
						</div>
						</div>
						<!-- /.box -->				  
					</div>
				{{end}} 
		  </div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
   <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; 2020 <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
	</footer>
	
	<!-- Side bar-->
	{{template "side-bar" .}}
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
    
    <script src="/assets/vendor_components/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
    <script src="/assets/vendor_components/Magnific-Popup-master/dist/jquery.magnific-popup-init.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
	

</body>
</html>
