<!DOCTYPE html>
<html lang="en">
{{template "header-info" .}}

<body class="hold-transition dark-skin sidebar-mini theme-primary">
	<div class="wrapper">
		
	{{template "main-header" .}} 
	{{template "side-bar" .}}
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
    
	<script src="/assets/vendor_components/jquery-steps-master/build/jquery.steps.js"></script>
    <script src="/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
    <script src="/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
  <script src="/assets/js/pages/steps.js"></script>
</body>
</html>
