.env
user-store
resources
archived_logs
latest_logs

__pycache__
.pytest_cache

tests/dummy-userdb/test-data/uploads
tests/dummy-userdb/test-data/uploads/testData.json
tests/dummy-resourcedb/test-data/uploads
tests/dummy-resourcedb/test-data/uploads/*