<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>AI Playground</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/navbar.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/sidepanel.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/new-project.css">
  <script src="/static/javascripts/sidepanel.js"></script>
</head>
<body>

<nav>
  <ul class="navbar-nav mr-auto">
    <li class="right-bar"> <a href="/logout"> Logout </a> </li>
    <li class="right-bar"> <a href="/user-settings"> User Settings </a> </li>
    <li class="right-bar"> <a href="/team"> Team Settings </a> </li>
    <li class="right-bar"> <a href="/admin"> Admin Settings </a> </li>
  </ul>
</nav>

<div id="sidePanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/projects">Projects</a>
  <a href="/stats">Stats</a>
  <a href="#"></a>
  <a href="/user-main/new">New Project</a>
  <a href="/user-main/resume">Resume Last</a>
</div>

<div id="main">
  <button class="openbtn" id="open-options" onclick="openNav()">&#9776; My Options</button>
  <div>{{index .Data "body"}}</div>
  <form id = selection action="/user-main/new" method="post" >
    <label for="feature">Choose feature:</label>
    <select name="select" size="1" id="feature">
      {{range $key, $value := (index .Data "features")}}
      <option value="{{ $key }}">{{ $value }}</option>
      {{end}}
    </select>
    <input type="submit" name="submitButton" value="Select">
  </form>
  <div class="newproject">
    <form id = config action="/user-main/new" method="post">
      <label for="projectName">Project Name</label>
      <input type="text" name="projectName"><br>
      {{range $key, $value :=  (index .Data "config") }}
      <label for=$key>{{ $key }}</label>
      <input type="number" name="{{ $key }}" value={{ $value }}><br>
      {{end}}
      <input type="submit" name="submitButton" value="Start">
    </form> 
  </div>
</div>
</body>
</html>