<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/images/favicon.ico">

    <title>Venusx Admin - Dashboard  Form Wizard </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="/assets/css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/skin_color.css">

</head>
<body class="hold-transition dark-skin sidebar-mini theme-primary">
<div class="wrapper">

  <header class="main-header">
	<div class="d-flex align-items-center logo-box justify-content-between">	
		<!-- Logo -->
		<a href="index.html" class="logo">
		  <!-- logo-->
		  <div class="logo-lg">
			  <span class="light-logo"><img src="/assets/images/logo-dark-text.png" alt="logo"></span>
			  <span class="dark-logo"><img src="/assets/images/logo-light-text.png" alt="logo"></span>
		  </div>
		</a>	
		<a href="#" class="waves-effect waves-light nav-link rounded d-none d-md-inline-block mx-10" data-toggle="push-menu" role="button">
			<i class="nav-link-icon mdi mdi-menu text-dark"></i>
		</a>
	</div>  
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top pl-10">
      <!-- Sidebar toggle button-->
	  <div class="app-menu">
		<ul class="header-megamenu nav">
			<li class="btn-group nav-item d-md-none">
				<a href="#" class="waves-effect waves-light nav-link rounded" data-toggle="push-menu" role="button">
					<i class="nav-link-icon mdi mdi-menu text-dark"></i>
			    </a>
			</li>
			<li class="btn-group nav-item">
				<a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link rounded" title="Full Screen">
					<i class="nav-link-icon mdi mdi-crop-free text-dark"></i>
			    </a>
			</li>
			<li class="btn-group nav-item d-xl-inline-flex d-none">
				<a href="#" class="waves-effect waves-light nav-link rounded" data-toggle="dropdown" aria-expanded="false">
					<i class="nav-link-icon mdi mdi-view-dashboard text-dark mx-5 mx-lg-0"> </i>
					<span class="d-xl-inline-block d-none">MEGA
					<i class="mdi mdi-dots-vertical ml-2"></i></span>
				</a>
				<div class="dropdown-menu dropdown-grid">
					<div class="dropdown-mega-menu">
						<div class="row">
							<div class="col-lg-4 col-12">
								<ul class="nav flex-column">
									<li class="nav-item-header nav-item">
										Overview
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">
											<i class="nav-link-icon fa fa-inbox mr-10">
											</i>
											<span>
												Contacts
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">
											<i class="nav-link-icon fa fa-book mr-10">
											</i>
											<span>
												Incidents
											</span>
											<div class="ml-auto badge badge-pill badge-danger">5
											</div>
										</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">
											<i class="nav-link-icon fa fa-picture-o mr-10">
											</i>
											<span>
												Companies
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link disabled">
											<i class="nav-link-icon fa fa-dashboard mr-10">
											</i>
											<span>
												Dashboards
											</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4 col-12 bx-1">
								<ul class="nav flex-column">
									<li class="nav-item-header nav-item">
										Favourites
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">
											Reports Conversions
										</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">
											Quick Start
											<div class="ml-auto badge badge-success">New</div>
										</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">Users &amp; Groups</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">Proprieties</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-4 col-12">
								<ul class="nav flex-column">
									<li class="nav-item-header nav-item">
										Sales & Marketing
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">Queues
										</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">Resource Groups
										</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">Goal Metrics
											<div class="ml-auto badge badge-warning">3
											</div>
										</a>
									</li>
									<li class="nav-item">
										<a href="javascript:void(0);" class="nav-link">Campaigns
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul> 
	  </div>
		
      <div class="navbar-custom-menu r-side">
        <ul class="nav navbar-nav">
		  <!-- full Screen -->
	      <li class="search-bar">		  
			  <div class="lookup lookup-circle lookup-right">
			     <input type="text" name="s">
			  </div>
		  </li>			
		  <!-- Notifications -->
		  <li class="dropdown notifications-menu">
			<a href="#" class="waves-effect waves-light dropdown-toggle" data-toggle="dropdown" title="Notifications">
			  <i class="mdi mdi-bell"></i>
			</a>
			<ul class="dropdown-menu animated bounceIn">

			  <li class="header">
				<div class="p-20">
					<div class="flexbox">
						<div>
							<h4 class="mb-0 mt-0">Notifications</h4>
						</div>
						<div>
							<a href="#" class="text-danger">Clear All</a>
						</div>
					</div>
				</div>
			  </li>

			  <li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu sm-scrol">
				  <li>
					<a href="#">
					  <i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit blandit.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-warning text-warning"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-users text-danger"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-shopping-cart text-success"></i> In gravida mauris et nisi
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-danger"></i> Praesent eu lacus in libero dictum fermentum.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-primary"></i> Nunc fringilla lorem 
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-success"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
					</a>
				  </li>
				</ul>
			  </li>
			  <li class="footer">
				  <a href="#">View all</a>
			  </li>
			</ul>
		  </li>			  
		  
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar" title="Setting" class="waves-effect waves-light"><i class="fa fa-cog fa-spin"></i></a>
          </li>
			
        </ul>
      </div>
    </nav>
  </header>
  
	<!-- Side bar-->
	{{template "side-bar" .}}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">

		<!-- Side bar-->
		{{template "content-header" .}}	  

		<!-- Main content -->
		<section class="content">
		 <!-- Step wizard -->
		  <div class="box box-default">
			<div class="box-header with-border">
			  <h4 class="box-title">New product creation</h4>	
			</div>
			<!-- /.box-header -->
			<div class="box-body wizard-content">
				<form action="{{index .new_project}}" enctype="multipart/form-data" class="validation-wizard wizard-circle" method="post">
					<!-- Step 1 -->
					<h6>Basic configuration</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="projectName">Project Name :<span class="danger">*</span></label>
									<input type="text" class="form-control required" id="projectName" name="projectName"> </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Visibility :</label>
									<div class="c-inputs-stacked">
										<input name="visibility" type="radio" id="public_button" value="0">
										<label for="public_button" class="d-block">Public</label>
										<input name="visibility" type="radio" id="protected_button" value="1">
										<label for="protected_button" class="d-block">Protected</label>
										<input name="visibility" type="radio" id="private_button" value="2">
										<label for="private_button">Private</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="project-avatar">Upload project avatar :</label>
								<input type="file" class="btn btn-primary form-control" id="project-avatar" name="project-avatar" accept="image/*">
							</div>
						</div>
					</section>
					<!-- Step 2 -->
					<h6>Details</h6>
					<section>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>App config :</label>
									<div class="c-inputs-stacked">
										<input type="checkbox" id="serverLogging" name="serverLogging" value="Yes">
										<label for="serverLogging" class="d-block">Server app logging</label>
										<input type="checkbox" id="clientLogging" name="clientLogging" value="Yes">
										<label for="clientLogging" class="d-block">Client app logging</label>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- Step 3 -->
					<h6>Confirmation</h6>
					<section>
					</section>
				</form>
			</div>
			<!-- /.box-body -->
		  </div>
		  <!-- /.box -->
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  
   <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; 2020 <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
	</footer>
	
	<!-- Side bar-->
	{{template "side-bar" .}}
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

	<!-- Vendor JS -->
	<script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/css/icons/feather-icons/feather.min.js"></script>
    
	<script src="/assets/vendor_components/jquery-steps-master/build/jquery.steps.js"></script>
    <script src="/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
    <script src="/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
	
	<!-- Venusx Admin App -->
	<script src="/assets/js/template.js"></script>
	<script src="/assets/js/demo.js"></script>
  <script src="/assets/js/pages/steps.js"></script>
</body>
</html>
