<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AI Playground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">
</head>

<body>
<nav>
  <ul>
    <li class="left-bar"> <a href="/about">About Us</a> </li>
    <li class="right-bar"> <a href="/auth_login">Login</a><i class="ti-more"></i> </li>
    <li class="right-bar"> <a href="/auth_signup">Sign up</a><i class="ti-more"></i> </li>
  </ul>
</nav>

<div class="background-image">
  <div class="body-text"></div>
    <h1>{{index .Data "title"}}</h1>
    <h3>{{index .Data "body"}}</h3>

</body>
</html>
